/*fonts*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

/*styles*/
html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
  padding-top: 0;
  font-family: 'Roboto-Regular', sans-serif!important;
}

.container {
	margin: 0 !important;
	width: 100% !important;
}

.menu {
	height: 40px;
	text-transform: uppercase;
	font-size: 13px;
}

.menu nav .navbar-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.menu nav ul li a {
	color: #000;
    padding-right: 40px;
    padding-left: 40px;
}

.menu nav ul li a:hover {
	background-color: #000;
	color: #fff;
}

.nav>li>a:focus {
	background-color: #000!important;
	color: #fff!important;
}

.article {
	background-color: #000;
	padding-left: 10px;
	padding-bottom: 10px;
}

.thumbnail {
	margin: 10px 10px 0 0;
	border-radius: 0!important;
	margin-bottom: 0 !important;
	background-color: inherit!important;
	border: 0!important;
	padding: 0!important;
}

.thumbnail.between {
	border: 0!important;
}

.logo span, .banner span, .banner3 span, .page_button span, .page_button2 span, .logo-black span {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 100%;
}

.thumbnail span img {
	margin: auto;
}

.whole, .half {
	border: 1px solid #fff!important;
	overflow: hidden;
}

.logo {
	background-color: #fff!important;
	border: 1px solid #fff!important;
}

.banner {
	background-color: inherit!important;
	border: 1px solid #fff!important;
}

.logo, .banner {
	padding: 15px !important;
}

.news_block_1, .news_block_6, .news_block_3, .news_block_2, .news_half,
.news_block_4, .news_block_5, .news_block_7 {
	-webkit-background-size: cover!important;
	background-size: cover!important;
	position: relative;
}

.news_block_1 {
	background: url(../img/photo_1.png) no-repeat center;
}

.tag-row {
	position: absolute;
	bottom: 0;
}

.date, .city, .zagolovok {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
}

.news_half {
	border-left: 0 !important;
	border-right: 0 !important;
	height: inherit;
}

.date {
	background: #000;
	height: 100px;
	width: 100px!important;
	color: #fff;
	border-right: 1px solid #fff !important;
	border-bottom: 1px solid #fff !important;
	justify-content: center;
	align-items: center;
}

.date p {
	font-size: 24px;
	font-family: 'Roboto-Regular', sans-serif!important;
	line-height: 22px;
	text-align: center;
}

.news_title, .text_block {
	font-size:28px;
	font-family: 'Roboto-Thin', sans-serif!important;
	line-height: normal;
	margin-top: 100px;
	padding: 10px 15px;
	background-color: #fff;
	display: table;
	text-transform: uppercase;
}

.news_title p, .text_block p {
	display: table;
}

.news_title p.header, .text_block p.header {
	padding-left: 14px;
    font-family: 'Roboto-Medium', sans-serif!important;
    font-size: 13px;
}

.news_title p .quote, .text_block p .quote {
	display: inline-block;
    float: left;
}

.news_title p .text, .text_block p .text {
	display: table;
}

.news_title p .red_stage {
	margin-left: 14px;
}

.tags {
	background: #000;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0 5px;
	line-height: 15px;
	margin-bottom: 10px;
	color: #fff;
	display: table;
}

.top_tag {
	margin-top: 65px;
}

.bottom_tag {
	margin-bottom: 0!important;
}

.city, .about, .banner3 {
	margin-right: 5px;
} 

.page_button, .page_button2, .news_block_13 {
	margin-left: 5px;
}

.city, .about {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.city p, .about p {
	font-family: 'Roboto-Thin', sans-serif!important;
	font-size: 26px;
}

.city {
	background-color: #000!important;
}

.city p {	
	color: #fff;
	width: 100%;
    word-wrap: break-word;
    padding: 15px;
    text-align: center;
}

.page_button {
	background-color: #fff;
}

.banner3 {
	background-color: #fff!important;
	overflow: hidden;
}

.news_block_13 {
	background-color: #fff !important;
	position: relative;
}

.zagolovok {
	display: table!important;
	padding: 5px;
}

.zagolovok p {
	margin: auto;
	font-family: 'Roboto-Medium', sans-serif!important;
	text-transform: uppercase;
	font-size: 12px;
}

.news_block_13 .tags {
	display: inline-block;
	margin: 0;
}

.news_block_13 .tag-row {
	position: absolute;
	bottom: 2px;
}

.news_block_6 {
	background: url(../img/photo_2.png) no-repeat center;
}

.news_block_3 {
	background: url(../img/photo.png) no-repeat center;
}

.about {
	background-color: #fff!important;
}

.about p {	
	color: #000;
}

.page_button2 {
	background-color: #000;
	padding: 15px;
}

.news_block_2 {
	background: url(../img/photo_3.png) no-repeat center;
}

.news_photo, .news_photo1, .news_photo2, .news_photo3, .news_photo4, .news_photo5, .news_photo_v {
	-webkit-background-size: cover!important;
	background-size: cover!important;
	border-right: 0 !important;
	height: inherit;
}

.news_photo_v {
	background: url(../img/Vector.png) no-repeat center;
	height: 200px;
}

.news_photo {
	background: url(../img/photo_4.png) no-repeat center;
}

.news_half {
	background-color: #fff!important;
}

.news_half .tags {
	display: inline-block;
	margin-bottom: 0;
}

.news_half .left_tags {
	position: relative;
	bottom: 0;
}

.news_block_4 {
	background: url(../img/photo_5.png) no-repeat center;
}

.news_photo2 {
	background: url(../img/photo_6.png) no-repeat center;
}

.news_photo3 {
	background: url(../img/photo_7.png) no-repeat center;
}

.news_block_5 {
	background: url(../img/photo_8.png) no-repeat center;
}

.banner2 {
	background: url(../img/banner2.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #111 !important;
	border: 1px solid #fff!important;
}

.news_photo4 {
	background: url(../img/photo_9.png) no-repeat center;
}

.news_photo5 {
	background: url(../img/photo_10.png) no-repeat center;
}

.news_block_7 {
	background: url(../img/photo_11.png) no-repeat center;
}

.dropdown-menu {
	display: none;
	font-size: 13px!important;
	text-transform: uppercase;
}

ul.dropdown-menu  {
	padding: 0;
	width: 100%!important;
	min-width: auto!important;
}

.dropdown-menu li {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.dropdown-menu li a {
	padding: 10px 0!important;
	height: 100%;
	text-align: center;
}

.dropdown-menu li a:hover {
	/*background-color: inherit!important;*/
} 

.dropdown:hover > .dropdown-menu { 
    display: table; 
} 

.navbar-toggle {
	padding-left: 0 !important;
	padding-bottom: 10px;
	margin:0 !important;
}

.icon-bar {
	background-color: #000;
	height: 10px!important;
	width: 80px!important;
}

.icon-bar:nth-child(2) {
	margin-bottom: 10px;
}

@media (max-width: 799px) {
	/*верхнее выпадающее меню*/
	.menu {
		/*margin-bottom: 10px;*/
		display: table;
		width: 100%;
		font-size: 24px;
	}

	.navbar-collapse {
		background-color: #000!important;
		padding: 10px 10px 0 10px!important;
	}

	.menu nav .navbar-nav {
		display: block !important;
		background-color: #fff !important;
		margin: 0;
	}

	.menu li a {
		border-bottom: 1px solid #000;
		text-align: center;
	}

	.in {
		z-index: 1000;
	    width: 100%;
	    overflow: hidden !important;
	}

	.navbar-collapse {
		border: 0 !important;
	}

	.dropdown-menu {
		visibility: hidden;
	}

	.date {
		height: 160px !important;
		width: 160px !important;
	} 

	.date p {
		font-size: 36px !important;
		line-height: 33px !important;
	}

	.news_title {
		font-size: 45px !important;
	}

	.news_title p.header {
		font-size: 19px !important;
	}

	.tags {
		font-size: 15px !important;
		padding: 5px !important;
		box-sizing: border-box!important;
	}

	.left_tags {
		margin-top: 3px !important;
	}

	.zagolovok p {
		font-size: 18px !important;
	}

	.city p {
		font-size: 40px !important;
	}
}

/*Для корректировки верхнего меню*/
@media (max-width: 1019px) {
	.menu nav ul li a {
		padding-left: 10px!important;
		padding-right: 10px!important;
	}
}

/*styles for news*/
.logo-black {
	background-color: #000;
	margin-left: 0;
}

.tag-row-top {
	position: absolute;
	top: 11px;
	right: 11px;
	text-align: right;
}

.tag-row-top .tags {
	float: right;
}

.text_block {
	margin-top: 0;
	display: block;
	background-color: #fff;
	position: relative;
	height: inherit;
	font-size: 56px;
}

.text_block p.header {
	font-size: 28px;
	padding-left: 26px;
}

.text-in {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-in p {
	font-family: 'Roboto-Thin', sans-serif!important;
    font-size: 26px;
    color: #fff;
}

.news-article {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #fff;
	margin-top: 10px!important;
	margin-right: 10px!important;
	position: relative;
}

.news-article .thumbnail {
	background-color: #fff!important;
	border: 1px solid #fff!important;
	margin: 0 !important;
}

.news-article p.num {
	font-size: 50px;
	font-family: 'Roboto-Thin', sans-serif!important;
	margin-top: 35px;
	margin-bottom: 20px;
}

.news-article p.header-article {
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'Roboto-Medium', sans-serif!important;
	margin-bottom: 35px;
}

.news-article p.text-article {
	font-size: 18px;
	margin-bottom: 50px;
}

.news-article .main-photo {
	margin-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.news-article .wrapper_main-photo {
	position: relative;
}

.news-article a.btn-left {
	position: absolute;
	left: -50px;
	top: 50%;
	height: 50px;
	width: 50px;
	background: url(../img/button_slider1.png) no-repeat center;
}

.news-article a.btn-right {
	position: absolute;
	right: -50px;
	top: 50%;
	height: 50px;
	width: 50px;
	background: url(../img/button_slider2.png) no-repeat center;
}

.news-article .sm-photos {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.news-article .sm-img {
	display: inline-block;
}

.news-article .sm-img:nth-child(1) {
	margin-right: 10px;
}

.news-article .sm-img:nth-child(2) {
	margin-right: 10px;
}

.news-article .social {
	position: absolute;
	right: 0;
	bottom: 0;
}

.news-article .social img {
	margin-right: 30px;
	margin-bottom: 40px;
}

.footer {
	margin-top: 10px !important;
	border-right: 0 !important;
}

.footer .menu-links {
	border-right: 1px solid #fff;
	height: inherit;
	padding-top: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.footer .menu-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer .menu-links ul li {
	padding-bottom: 20px;
}

.footer .menu-links ul li a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.footer .menu-links ul li a:hover {
	text-decoration: none;
}

.footer .contacts-info {
	height: inherit;
	align-items: center;
	padding-left: 35px;
	padding-top: 35px;
}

.footer .contacts-info .text-info {
	font-size: 14px;
	color: #fff;
	line-height: 36px;
}

.footer .contacts-info .social img {
	padding-right: 35px;
}